/*-------- Utility Styles --------*/
* {
	box-sizing: border-box; 
	/* ^^^ Forces all elements to include content, padding, and border as part of their width/height calculation: 
	http://www.w3schools.com/cssref/css3_pr_box-sizing.asp */
}
body{
	font-family: 'Proza Libre', sans-serif;
	border-radius: 3px;
	
	margin: 0 AUTO;
	

	
}
title{
font-weight: 800;
font-size: 32px;

margin: 0 AUTO;
}
.main{
	width: 100%;
	border-radius: 3px;
	margin: 0 AUTO;
	justify-content: space-around;
}
.form{
	display: flex;
	border-radius: 3px;
	padding: 20px;
	margin: 0 AUTO; 
	float: left;
	background-color: #E3E6EC;
	text-align: left;
	width: 350px;
	flex-direction: column;
}
.row {
	padding: 10px;
}
 .results{
	
	border-radius: 3px;
	text   align: center;
	margin: 0 AUTO;
	float: left;
	width: 500px;
	background-color: #C8DBB3;
	padding: 20px;
}
.button{
	float:right;
	font-style: bold;
	/* background-color: rgb(39, 208, 127, .5); */
	background-image: url('images/steering-wheel.png');
 
}
.mission{
	height: 100px;
}
.formGroup{
	padding:25px;
	width= 100%;
	display: inline-block;
	
	
}
h1{
	font-size: 24px;
	font-style: bold;
	margin: 25px;
}
.row{
	padding: 10px;
}
/* #submit{
	height: 48px;
	padding: 14px;
} */
/* 
	xUse Google Fonts to make all of the text Proza Libre.

	xMake the Title twice as large as the body text, bold, and give it some nice margin.
*/

/*-------- Main Styles --------*/

/* 
	xMake the main container the full width of the page.

	XMake the two inner containers (the form and the results) float side by side, on the left side of the screen.

	XEvery container, form, input, and button should have rounded corners.
*/

/*-------- Form Styles --------*/


/* 

	xMake sure the form itself fills the width of whatever container its in, but no larger than 500px.
	
	xThe background should be #E3E6EC, and it should align to the middle of its container.
	
	xEvery element should have nice, even padding or margin around it.

	x.row elements should be spaced out so they're not touching.

	X.formGroup elements should fill the width of their container, and be inline-block.

	xThe labels inside of .formGroup should be on their own line above form options, fill the width of their container, and have top/bottom padding.

	xRadio buttons and checkbox options should each be on their own line, and indented a little. 

	xRadio buttons and checkbox labels should be directly to the right of their corresponding inputs, and the text should vertically align with the inputs. 

	xText inputs, submit buttons, and select boxes should all be at least 48px tall. The should have 14px of padding around their text. 

	xTextareas should be at least 100px tall.

	Text inputs, select boxes, and textareas should have a 1px border that's #CCC, and none of the default shadows.

	The submit button should float to the right, be bolded, and only be as wide as the text makes it.

	The submit button should be rga(39, 208, 127), but only 50% opacity. On hover, it should be 100% opacity.
	
	
*/


/*-------- Results Styles --------*/


/* 

	xThe results container should also fill the width of its container, but only up to 500px.

	xThe results container should have a background color of #C8DBB3, and comfortable padding around the text.

*/

